.emergency-heading {
  padding-top: 50px;
  padding-left: 45px;
}

.emergency-heading h2 {
  font-size: 27px;
}

.emergency-line {
  background-color: rgb(173, 167, 160);
  height: 1.4px;
  margin: 20px;
  margin-left: 0;
  margin-right: 0;
}

.emergency-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.emergency-label {
  padding-left: 50px;
  padding-right: 140px;
  font-size: 20px;
}
.emergency-inputs {
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 20px; */
}
.emergency-first-name-container {
  padding-right: 40px;
}
.emergency-first-name-container input {
  width: 180px;
  display: block;
  font-size: 20px;
  margin-bottom: 4px;
}
.emergency-last-name-container input {
  width: 180px;
  font-size: 20px;
  margin-bottom: 4px;
}

.emergency-relation-container {
  padding: 15px 0px;
}
.emergency-relation-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 25px;
}
.emergency-relation-label {
  padding-left: 50px;
  padding-right: 205px;
  font-size: 20px;
}

.emergency-relation-input-container input {
  width: 400px;
  font-size: 20px;
}

.emergency-phone-container {
  padding: 30px 0px;
}
.emergency-phone-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 30px;
}
.emergency-phone-label {
  padding-left: 50px;
  padding-right: 170px;
  font-size: 20px;
}

.emergency-phone-input-container input {
  width: 400px;
  font-size: 20px;
}
.famDoc-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.famDoc-label {
  padding-left: 50px;
  padding-right: 135px;
  font-size: 20px;
}
.famDoc-inputs {
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 20px; */
}
.famDoc-first-name-container {
  padding-right: 40px;
}
.famDoc-first-name-container input {
  width: 180px;
  display: block;
  font-size: 20px;
  margin-bottom: 4px;
}
.famDoc-last-name-container input {
  width: 180px;
  font-size: 20px;
  margin-bottom: 4px;
}

.famDoc-phone-container {
  padding: 20px 0px;
}
.famDoc-phone-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 30px;
}
.famDoc-phone-label {
  padding-left: 50px;
  padding-right: 55px;
  font-size: 20px;
}

.famDoc-phone-input-container input {
  width: 400px;
  font-size: 20px;
}
.favPharmacy-container {
  padding: 15px 0px;
}
.favPharmacy-relation-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5px;
}
.favPharmacy-relation-label {
  padding-left: 50px;
  padding-right: 148px;
  font-size: 20px;
}

.favPharmacy-input-container input {
  width: 400px;
  font-size: 20px;
}

.favPharmacy-phone-container {
  padding: 20px 0px;
}
.favPharmacy-phone-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 30px;
}
.favPharmacy-phone-label {
  padding-left: 50px;
  padding-right: 89px;
  font-size: 20px;
}

.favPharmacy-phone-input-container input {
  width: 400px;
  font-size: 20px;
}
input.input-error {
  border-color: #00cfc9;
  border-style: solid;
}
select.input-error {
  border-color: #00cfc9;
  border-style: solid;
}
textarea.input-error {
  border-color: #00cfc9;
  border-style: solid;
}
