.main-heading {
  list-style-type: none;
  /* background-color: red; */
  text-align: center;
  font-size: larger;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-info-main {
  padding-bottom: 5px;
}
