.date-time-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.date-time-label {
  padding-left: 50px;
  padding-right: 80px;
  font-size: 20px;
}
.date-time-inputs {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.date-container {
  padding-right: 40px;
}
.date-container input {
  width: 180px;
  font-size: 20px;
  margin-bottom: 4px;
}
.time-container input {
  width: 180px;
  font-size: 20px;
  margin-bottom: 4px;
  border-style: solid;
  border-color: #242424;
  border-radius: 5px;
}
/* input.input-error {
  border-color: red;
  border-style: solid;
} */
.health-care-container {
  padding: 15px 0px;
}
.health-care-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 18px;
}
.health-care-label {
  padding-left: 50px;
  padding-right: 140px;
  font-size: 20px;
}

.health-care-input-container input {
  width: 400px;
  font-size: 20px;
  border-style: solid;
  border-color: #242424;
  border-radius: 5px;
}
input.input-error {
  border-color: #00cfc9;
  border-style: solid;
}
select.input-error {
  border-color: #00cfc9;
  border-style: solid;
}
textarea.input-error {
  border-color: #00cfc9;
  border-style: solid;
}

.line {
  background-color: rgb(173, 167, 160);
  height: 1.4px;
  margin: 30px;
  margin-left: 0;
  margin-right: 0;
}

.patient-name-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.patient-name-label {
  padding-left: 50px;
  padding-right: 200px;
  font-size: 20px;
}
.patient-inputs {
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 20px; */
}
.first-name-container {
  padding-right: 40px;
}
.first-name-container input {
  width: 180px;
  display: block;
  font-size: 20px;
  margin-bottom: 4px;
}
.last-name-container input {
  width: 180px;
  font-size: 20px;
  margin-bottom: 4px;
}

.sex-container {
  padding: 40px 0px;
  padding-bottom: 20px;
}
.sex-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.sex-label {
  padding-left: 50px;
  padding-right: 284px;
  font-size: 20px;
}

.sex-input-container select {
  width: 400px;
  font-size: 20px;
}

.birth-container {
  padding: 30px 0px;
}
.birth-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.birthTest-label {
  padding-left: 50px;
  padding-right: 208px;
  font-size: 20px;
}

.birth-input-container input {
  width: 400px;
  font-size: 20px;
}

.phone-container {
  padding: 15px 0px;
}
.phone-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.phone-label {
  padding-left: 50px;
  padding-right: 185px;
  font-size: 20px;
}

.phone-input-container input {
  width: 400px;
  font-size: 20px;
}
.email-container {
  padding: 15px 0px;
}
.email-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.email-label {
  padding-left: 50px;
  padding-right: 270px;
  font-size: 20px;
}

.email-input-container input {
  width: 400px;
  font-size: 20px;
}
.address-line-one-container {
  padding: 15px 0px;
}
.address-line-one-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.address-line-one-label {
  padding-left: 50px;
  padding-right: 245px;
  font-size: 20px;
}

.address-line-one-input-container textarea {
  width: 400px;
  font-size: 20px;
}

.address-line-two-container {
  padding: 15px 0px;
}
.address-line-two-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.address-line-two-label {
  padding-left: 50px;
  padding-right: 320px;
  font-size: 20px;
}

.address-line-two-input-container textarea {
  width: 400px;
  font-size: 20px;
}

.address-line-three-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
}
.address-line-three-label {
  padding-left: 50px;
  padding-right: 318px;
  font-size: 20px;
}
.place-inputs {
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 20px; */
}
.city-container {
  padding-right: 40px;
}
.city-container input {
  width: 180px;
  font-size: 20px;
  margin-bottom: 4px;
}
.province-container input {
  width: 180px;
  font-size: 20px;
  margin-bottom: 4px;
}
.address-line-four-container {
  padding: 15px 0px;
}
.address-line-four-label {
  padding-left: 50px;
  padding-right: 320px;
  font-size: 20px;
}
.address-line-four-info {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  padding-top: 20px;
}

.address-line-four-input-container input {
  width: 400px;

  font-size: 20px;
}

.marital-container {
  padding: 40px 0px;
  padding-bottom: 20px;
}
.marital-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.marital-label {
  padding-left: 50px;
  padding-right: 195px;
  font-size: 20px;
}

.marital-input-container select {
  width: 400px;
  font-size: 20px;
}

.age-q-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}
.age-q-label {
  font-size: 20px;
  padding-right: 80px;
  padding-left: 50px;
}

.age-q-inputs {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
}
.yes-container {
  padding-right: 40px;
}

.yes-container label {
  padding-left: 14px;
}
.no-container label {
  padding-left: 14px;
}
.yes-container input {
  background-color: #00cfc9;
}
.no-container input {
  background-color: #00cfc9;
}
