.card {
  background-color: #fdfff5;
  position: static;
  max-width: 955px;
  margin: auto;
  padding: 3rem;
  border-color: #848884;
  border-style: solid;
  border-radius: 8.5px;
  border-width: 2.18px;
}
